
.delete-choices[data-v-8a02d053] { display: grid; gap: calc(var(--default-grid-baseline) * 3); padding-block: calc(var(--default-grid-baseline) * 2);
}
.delete-choices p[data-v-8a02d053] { margin: 0;
}
